

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);

    font-size: 14px;
    letter-spacing: 0.02em;
    
    

}

.container-header {
    display: flex;
    align-items: center;

}


.main_container {
    display: flex;
    text-align: center;
    height: 80px;
    
}
.head_line  {
    
    display: flex;
    align-items: center;
    
    
}
.links_header {
    
    display: flex;
    margin-left: 93px;
    
    
    

    
}
.contacts_section_header {
    display: flex;
    margin-left: 331px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: var(--white-color);

}

.word_web {
    color: var(--blue-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 2em;
    letter-spacing: 0.03em
    
}

.word_studio {
    color: var(--black-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 2em;
    letter-spacing: 0.03em
}

.nav:hover,.nav:focus {
    
    color: var(--blue-color);
    
}

.nav {
    color: var(--black-color);
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    
}
.nav + .nav {
margin-left: 50px;
}
a{text-decoration: none;}
.contacts_section {
    color: var(--grey-color);
    justify-content: space-between;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    margin-left: auto;
    text-align: right;
    float: right;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.02em
    
    
    
    
    
    
    
   
}
.contacts_section + .contacts_section {
    margin-left: 50px;
}

.contacts_section:hover,.contacts_section:focus {
    color: var(--blue-color);
}



.maintext {
    color: var(--white-color);
    
    background-color: var(--grey_color_s);
    
    text-align: center;

    font-size: 44px;

    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    
    
    
    
    

}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    
    }



.hero_btn {
    cursor: pointer;
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: var(--white-color);
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: var(--blue-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
 


 

    
   
}
.hero_btn :hover, .hero_btn :focus {
    color: var(--blue-color);
}
.shapka {
    overflow: hidden;
    list-style: none;
}

.mainbar {
    background-color: var(--grey_color_s);
    width: 1200px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}




.pros_text {
display: flex;
text-align: center;
justify-content: space-between;


}

.maintext_first {
    color: var(--grey-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.mainpool_text {
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.imgstuff {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    
   
}

.our_team {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team_stuff {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    
}

.team {
    background-color: var(--light-grey_color);
    padding-top: 94px;
}
.reg_cust {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.regular_customers {
    width: 1200px;
}



.info_table {
    background-color: var(--grey-color_s);
    width: 1200px;
    height: 252px;
    left: 0px;
    top: 2097px;
}

.word_studiof {
    color: var(--white-color);
    font-size: 26px;
    line-height: 2em;
    
}

.address {
    color: var(--white-color);
    margin-top: 60px;
    text-decoration: none;
    list-style: none;
 
    
    
   
}
.contacts_section_footer {
 
    color: var(--grey-color);
    display: flex;
    text-decoration: none;
    margin-top: 9px;
    
   
}

.contacts_section_footer:hover,.contacts_section2:focus {
    color: var(--blue-color);
}
.nav_footer {
    margin-left: 150px;
    color: var(--black-color);
    text-decoration: none;
    margin-top: 60px;
    
}



.portfolio_btns {
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    
    background-color: var(--light-grey_color);
    border: 1px ;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--darkgrey-color);
    cursor: pointer;
    margin-left: 5px;

}
.buttons_portfolio{
display: flex;
justify-content: center;
margin-left: 346px;
margin-right: 346px;
}

.buttons_portfolio :hover, .buttons_portfolio :focus {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 1200px;
    padding-bottom: 94px;
    
    
    
}

.portfolio {
    width: 1200px;
}

.info_table {
    width: 1200px;
    background-color: var(--grey_color_s);
    padding-top: 60px;
}

.middlebar_section {
    width: 1200px;
}
 .pros_text {
    list-style: none;
 }

 .footer_list {
    list-style: none;
    margin-left: 150px;
 }

 .icon {
    display: inline-block;
    justify-content: space-between;
    width: 32px;
    height: 32px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .join {
    color: var(--white-color);
      
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        margin-left: 470px;
  }

  .icons_team_stuff {
    color: var(--grey-color);
      height: 10px;
      width: 10px;
  }



p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: var(--grey-color);

    letter-spacing: 0.03em;
}

  :root {
    --blue-color: #2196F3;
    --grey-color: #757575;
    --white-color: #ffffff;
    --darkgrey-color: #212121;
    --black-color: black;
    --grey_color_s: #2F303A;
    --light-grey_color: #F5F4FA;
    --slight-grey_color: #EEEEEE;
  }

.portfolio_cards {
    border: 1px solid var(--slight-grey_color);
    display: flex;
    margin-top: 30px;
}

.maintext_list {
    margin-left: 24px;
    margin-right: 24px;
}

